* {
    box-sizing: border-box;
    text-align: center;
  }

  .main-container {
      display: block;
      float: center;
      width: 700px;
      overflow: hidden;
      height: 500px;
      margin: 100px;
  }

  body {
      color: black;
      font-size: 200%;
      font-weight: bold;
      font-style: initial;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      text-shadow: 1px 1px white;
  }

  #buttons{
    text-align: center;
    margin: 50px 0;
  }
  button{
    width:300px;
    height:100px;
  }

<style>
  .background {
    background: url('file:///images/chicago.jpg') no-repeat center center fixed; 
    background-size: cover
  }
</style>
